<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %>
  <%= f.fields_for :ingredients do |ingredient| %>
    <li>
      name: <%= ingredient.text_field :name %>
      qty: <%= ingredient.text_field :quantity %>
    </li>
  <% end %>
  <%= f.submit %>

<% end %>
